apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: afk-no

resources:
    - ../../../base

commonLabels:
    fintlabs.no/org-id: afk.no

patches:
    - patch: |-
          - op: replace
            path: "/metadata/labels/app.kubernetes.io~1instance"
            value: "fint-flyt-frontend_afk-no"
          - op: replace
            path: "/spec/orgId"
            value: "afk.no"
          - op: replace
            path: "/spec/env/0/value"
            value: "/afk-no"
          - op: replace
            path: "/spec/url/basePath"
            value: "/afk-no"
      target:
          kind: Application
          name: fint-flyt-frontend

    - patch: |-
          - op: replace
            path: "/spec/basePath"
            value: "/afk-no"
      target:
          kind: FLAISSso
          name: fint-flyt-auth-forward-sso
