body {
    margin: 0;
}

iframe#webpack-dev-server-client-overlay {
    display: none !important
}

.navds-pagination__item[aria-current="true"] {
    background-color: #5A51E1 !important;
    /*color: var(--ac-pagination-selected-text, var(--a-text-on-action));*/
}

.navds-button--primary:hover {
    background-color: #5149CA !important;
}

.navds-button--primary {
    background-color: #5A51E1 !important;
}

.navds-pagination__item[aria-current="true"] {
    background-color: #5A51E1 !important;
    /*color: var(--ac-pagination-selected-text, var(--a-text-on-action));*/
}

.navds-button--primary:hover {
    background-color: #5149CA !important;
}

.navds-button--primary {
    background-color: #5A51E1 !important;
}

.navds-internalheader {
    --ac-internalheader-bg: #F8F4E3;
    --ac-internalheader-text: #000000;
    --ac-internalheader-hover-bg: #efd8b8;
    --ac-internalheader-divider: #F8F4E3;
    --ac-internalheader-active-bg: #F8F4E3;

    a {
        text-decoration: none;
    }
}