body {
    margin: 0;
    --ac-radio-checkbox-border: #5149ca !important;
    --ac-radio-checkbox-action: #5149ca !important;
    --ac-radio-checkbox-action-hover-bg: #e5e4fa !important;
    --novari-theme-purple-primary: #5149ca;
    --novari-theme-purple-subtle: #e5e4fa;
}

iframe#webpack-dev-server-client-overlay {
    display: none !important;
}

.navds-pagination__item[aria-current='true'] {
    background-color: #5a51e1 !important;
    /*color: var(--ac-pagination-selected-text, var(--a-text-on-action));*/
}

.navds-pagination__item:hover {
    background-color: var(--novari-theme-purple-subtle) !important;
    color: #5a51e1 !important;
}

.navds-button--primary:hover {
    background-color: var(--novari-theme-purple-primary) !important;
}

.navds-button--primary {
    background-color: #5a51e1 !important;
}

.navds-button--primary:hover {
    background-color: var(--novari-theme-purple-primary) !important;
}

.navds-button--secondary {
    --ac-button-secondary-text: var(--novari-theme-purple-primary) !important;
    --ac-button-secondary-border: var(--novari-theme-purple-primary) !important;
    --ac-button-secondary-hover-border: var(--novari-theme-purple-primary) !important;
    --ac-button-secondary-hover-text: var(--novari-theme-purple-primary) !important;
    --ac-button-secondary-hover-bg: var(--novari-theme-purple-subtle) !important;
}

.navds-button--tertiary {
    --ac-button-tertiary-text: var(--novari-theme-purple-primary) !important;
    --ac-button-tertiary-hover-text: var(--novari-theme-purple-primary) !important;
    --ac-button-tertiary-hover-bg: var(--novari-theme-purple-subtle) !important;
    --ac-button-tertiary-active-bg: var(--novari-theme-purple-primary) !important;
    --ac-button-tertiary-active-hover-bg: var(--novari-theme-purple-primary) !important;
}

.navds-internalheader {
    --ac-internalheader-bg: #f8f4e3;
    --ac-internalheader-text: #000000;
    --ac-internalheader-hover-bg: #efd8b8;
    --ac-internalheader-divider: #f8f4e3;
    --ac-internalheader-active-bg: #f8f4e3;

    a {
        text-decoration: none;
    }
}
